body{
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
h3 {
    text-align: center;
    font-size: 50px;
    font-weight: bold;
    color: #42b983;
}
form {
    text-align: center;
    font-size: larger;
    color: #2c3e50;
    display: flow;
    margin: 0 10px;
}
ul {
    position: center;
    margin-left: auto;
    text-align: center;
    list-style-position: inside;
}
button{
    text-align: center;
    color: #42b983;
    position: relative;
}
li {
    padding-bottom: 20px;
}

a {
    color: #42b983;
}
